
<style>

#mainChat{    
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

</style>
<script>
    $(document).ready(function(){
        function formClick(){
        $('#sent').click
        },
    });
</script>
    <div id ="mainChat">
        <!--button for received messages-->
        <br/>
        <button class = "btn btn-primary" id = "receive">Inbox</button>
        <!--button for sent messages-->
        <button class = "btn btn-primary" id = "sent" onclick = "formClick()">Sent</button>
        
    </div>