 <div class='main_window'>
 	
 	
 	<div class="row"><!-- start the video -->
				
			<div class="col-sm-12 text-center">
			   
			   
			           
			          <div style="background-color:#A00000 ; height:10%">
			   	
					    <h2>Check Out This video</h2>
					    
					  </div>
					  
					    <hr/>
					    
						<div class="embed-responsive embed-responsive-4by3">
						   <iframe width="80%" height="80%" src="https://www.youtube.com/embed/37jAiFBQCz4" frameborder="0" allowfullscreen></iframe>
						</div>
			   
			   </div>
			   
			   
			
	</div><!-- finish the video -->
				
				
    
 	

      <div class="row"><!-- start the game -->
      	
      	
				 <div class="col-sm-12  text-center">
				 	
				 	<div style="background-color:#A00000 ; height:10%">
				 	
				 	    <h1> Click image and have funnnn !!</h1>
				 	
				 	</div>
				 	
				 	<hr/>
					    <a href='javascript:layerChange("card_game1")'>
					    			   		
					    <img src="img/big_icon_card.jpg" class=" img-circle img-responsive center-block" alt="Circular holding image"/></a> 
					     
			    </div>
			
	</div><!--	finish the game-->
	
	<hr/>
    
  
    
     <div class="row">
				 <div class="col-sm-8">
			   
					     <h2 class="text-center"> GAME 3</h2>
					     <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
					   
			    </div>
			
			   <div class="col-sm-4">
			   
			   			<img src="img/game1.jpg" class=" img-circle img-responsive center-block" alt="Circular holding image"/>
			   
			   </div>
			   
			  
			
			
			</div>
    
 
 </div>