 <div class='main_window'>

      <div class="row">
				 <div class="col-sm-8">
					    <a href='javascript:layerChange("card_game1")'><h2 class="text-center">Table Card Game</h2></a> 
					     <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
			    </div>
			   <div class="col-sm-4">
			   <!--image from www.hoylegaming.com-->
			   			<img src="img/big_icon_card.jpg" class=" img-circle img-responsive center-block" alt="Circular holding image"/>
			   </div>
			</div>
			
		<hr/>
    
  <div class="row">
				
			
			   <div class="col-sm-4">
			   
			   			<img src="img/game1.jpg" class=" img-circle img-responsive center-block" alt="Circular holding image"/>
			   
			   </div>
			   
			    <div class="col-sm-8">
			   
					     <h2 class="text-center"> GAME 3</h2>
					     <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
					   
			    </div>
			  
			
			
			</div>
    <hr/>
    
     <div class="row">
				 <div class="col-sm-8">
			   
					     <h2 class="text-center"> GAME 3</h2>
					     <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
					   
			    </div>
			
			   <div class="col-sm-4">
			   
			   			<img src="img/game1.jpg" class=" img-circle img-responsive center-block" alt="Circular holding image"/>
			   
			   </div>
			   
			  
			
			
			</div>
    
 
 </div>