
<style>
footer a{
    color:yellow;font-weight:bold;
    text-decoration:none;
}

footer a:hover {
    text-decoration: none;
    color:	#00bfff;
}
footer{
    
   padding:2%;
	
	background:#333;
	
	color:#fff;
	text-align:center;
}
#p2{
    
    color:white;
    padding: 10px 10px 10px 10px;
}
#p1{
    font-size:16px;
    margin-left:5%;
    color:white;
}
#h2{
    text-align:center;
    font-size:28px;
    color:	#87CEFA;
    margin-left:3%;
    font-weight:bold;
}


.col-md-11{
    width:99%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.img-circle{
	 border-radius: 25px;
	padding: 10px 0px 0px 10px;
}
#hintbox{
    z-index:1000;
    display:none;
    position: absolute;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid red;
    padding: 8px;
    border-radius:10px;
   width: 20%;
   text-align:center}
   
#main-div{
	
	
background-image:url('img/gray-background.jpg');
   
}


.banner_holder{
    width: 100%;
    height: 90px;
    min-height: 150px;
    position: relative;
  
    box-shadow: 2px 2px 2px 5px #161314;
   
}

.banner_holderImage{
    
    height: 100%;
    position:relative;
    background:   url("img/images/image7.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
</style>
 
 
 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function() {


 $('.hover').mousemove(function(e){ 
       var hovertext = $(this).attr('hinttext'); 
       
         $('#hintbox').text(hovertext).show();
        
    $('#hintbox').css('top',e.clientY-25).css('left',e.clientX-450);})
     .mouseout(function(){
    $('#hintbox').hide();
 });
}); 
</script>

<div id="top"></div>
<div  id="main-div">  
 
                
                         <div class="row"><!-- start the banner -->
                         
                         
                			    <div class="col-md-11 col-centered">   
                			    
                									    <div class="banner_holder">
                						    <div class="banner_holderImage"></div>  
                						   
                										</div>
                				 	
                			
                	           </div>
                	 
                	 
                	 	</div><!--	finish the banner--><br>
	 	
	 	<div class="row"><!--start the paragraph-->
				
				
				    <div class="col-sm-12">
				    
        				    <h2 id="h2"> Play free Online games In Our Portal</h2>
        				    <br>
        				    <p id="p1"> In this part you will be able to play real games developed by the NCI team. <br>
        				    We aim to achieve a user plain satisfaction, having a nice experience and share<br>
        				    it with other users that are using our website.<br>
        				     Please select the game you like and enjoy your time.</p>
        				    
        			</div>

		</div><!--finish the paragraph-->		
				
											<div id="hintbox"></div>
												
										
											
								<br><br><br>				
				
				
			
	
	
    
  
    
     <div class="row"><!-- start the game page-->
     		
     
     	<div class="col-sm-3">
														
													
			
								
					<a href='javascript:layerChange("card_game1")' 	 class="hover" hinttext="Click to Play" >
											 		
			
				       <img src="img/durak.jpg" class=" img-circle img-responsive center-block"alt="Circular holding image"/>
								
					</a>
													     	
		</div>
		
		
				 <div class="col-sm-3">
			   
					    
					     <p id="p2">In here you can play the Durak game.<br> This a Russian game aimed to get rid of cards. please enjoy your time </p>
					   
			    </div>
			
			   <div class="col-sm-3">
			   
			   			<img src="img/tictac1.png" class=" img-circle img-responsive center-block" alt="Circular holding image"/>
			   
			   </div>
			   
			   
			   <div class="col-sm-3">
			   
					    
					     <p id="p2">This is the famous TicTac Toe game.<br>
					     This game was played in the Roman Empire and since became a popular distraction </p>
					   
			    </div>
	 </div>
			 
			 
			 <hr/>
	<div class="row " style="margin-left:10%"><!--snake game start-->
			 
			 	<div class="col-sm-4">
														
													
				<div id="hintbox"></div>
								
					<a href='javascript:layerChange("snake")' 	 class="hover" hinttext="Play here" >
												 		
			
				       <img src="img/snake.png" class=" img-circle img-responsive center-block"alt="Circular holding image"/>
								
					</a>
													     	
		     </div>
		
		
				 <div class="col-sm-6">
			   
					    
					     <p id="p2">The snake game was developed in 1976.<br>
					    The game is very simple but became very famous
					    after being preloaded by <b>Nokia mobile phones </b> in 1998 </p>
					   
			    </div>
			
			 
			
		</div>	  <!--snake game finishing--> 
		
		<br/>
			
			<div class="footer">
	

			
			<footer>&copy; NCI Students ♛  The Simpsons  ツ<br/><a href="#top"> Back to top</a> </footer>
	       
	
	</div>
	
    
 
 </div>  
 
 
<!--next script from https://css-tricks.com-->
 <script>
	$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
	</script>