<!-- //login code was rferenced from
//https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->
<!doctype html>
<html>
<head>
    <title>Table Game Portal</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1"> <!-- do we need here for mobile or is it placed somewhere else? -->
    <link rel="stylesheet" type="text/css" href="css/styles.css"><!-- main styles for page -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container" id="mainContain">
    <div class = "navbar-brand">
        <a href="/index.ejs">Table Game Portal</a>
    </div>
        <div class  ="nav navbar-right">
            <div class = "collapse navbar-collapse navHeadCollapse">
                    <!-- for later mobile mini menu to collapse -->
                    <ul class = "nav navbar-nav navbar-right">
                        <li class = "active"><a href="/games">Games</a></li>
                        <li class = "active"><a href="/chat">Chat</a></li>
                        <li class = "active"><a href="/messenger">Messenger</a></li>
                        <li class = "active"><a href="/logout">Logout</a></li>
                    </ul>
            </div>
        </div>
    <div class="container" id="gameArea">


    </div>
</div>
</body>
</html>