<!-- //login code was referenced from
//https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->
<!doctype html>
<html>
<head>
    <title>Table Game Portal</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1"> <!-- do we need here for mobile or is it placed somewhere else? -->
    <link rel="stylesheet" type="text/css" href="css/styles.css"><!-- main styles for page -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
   
    
        <!-- we need JQUERY to do JQUERY tricks -->
    <script src="jquery-1.11.3.js" type="text/javascript"></script>
    
    <script>
    $(document).ready(function(){
$('li').hover(function(){
   
   $(this).find('ul>li').fadeToggle(1000); 
});
    });
    
    </script>
</head>
<body>
<div class="container" id="mainContain">
    <div class = "navbar-brand">
        <a href="/index.ejs">Table Game Portal</a>
    </div>
        <div class  ="nav navbar-right">
            <div class = "collapse navbar-collapse navHeadCollapse">
                    <!-- for later mobile mini menu to collapse -->
                    <ul class = "nav navbar-nav navbar-right">


                        <li class = "active"><a href="profile.ejs">Games</a>
                                   

                                   <ul id="ul1">                                                 
                                                 <li><hr><a href="">GAME 1</a><hr></li>
                                                 <li><a href=""> GAME 2</a><hr></li>
                                                 <li><a href="">GAME 3 </a></li>


                                   </ul>


                        </li>


                        <li class = "active"><a href="/chat">Chat</a></li>
                        <li class = "active"><a href="/messenger">Messenger</a></li>
                        <li class = "active"><a href="/logout">Logout</a></li>
                    </ul>
            </div>
        </div>
    <div class="container" id="gameArea">
            

    </div>
    <div class ="container">
        <!--fill div with content from profile.ejs, what am I doing wrong?:Maurice:-->
        <!--static content is not handled and i'm not sure about JS code as well AND there is no such root as - /views/profile.ejs IN routers.js:
        JQUERY libary was not linked as well-->
       
       
       <!--
        <button type="button" onclick="return fillDiv(1)">Fill Div</button>
        <script type = "text/javascript">
            function fillDiv(){
                $('#gameArea').load('/views/profile.ejs');
                return false;
            };
        </script>
        -->
        <!--i would recommend to use more advanced ajax code:-->
        <button type="button" onclick="javascript:fillDiv()">Fill Div</button>
        <script>
            function fillDiv(){
                $('#gameArea').load('/profile');
            }
            
        </script>
        
    </div>
</div>
</body>
</html>