
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="css/bootstrap.min.css"/>
           <link rel="stylesheet" href="css/style-arezki.css"/>
           
           
           <link href="style.css" rel="stylesheet" type="text/css" />
            <link href="style_mod.css" rel="stylesheet" type="text/css"/>
            
            <script src="jquery-1.11.3.js"></script>
            <script src="js/bootstrap.js"></script>
            
            <!--Scripts For Card Game-->
    <link href="card_game1/style_cards.css" rel="stylesheet" />
    <script src="card_game1/display.js"></script>
<script>
//changeLayers
var helper = 'second';
var layerChange =function(url){
    //login_form, singup_form
    if(helper == 'second'){
    	    $.ajax({url: url, success: function(result){
        $("#mainGame").html(result);
   		 }});


      $("#mainProfile").slideToggle("slow");
      setTimeout(function(){
      $("#mainGame").slideToggle("slow");
      }, 1000);
      helper = 'first';
    }
    else{


    	$.ajax({url: url, success: function(result){
        $("#mainProfile").html(result);
    	}});
      $("#mainGame").slideToggle("slow");
      setTimeout(function(){
      $("#mainProfile").slideToggle("slow");
      }, 1000);
      helper = 'second';
    }
    
};
//fill necesarry fields in the app::
function simpleAjax(url,div){
        	    $.ajax({url: url, success: function(result){
        $("#"+div).html(result);
   		 }});
};
</script>
<script>
//RUNNING TEXT SCRIPT
//Code snippet from: http://jsfiddle.net/ARTsinn/RED9H/2/
$( document ).ready(function() {
$.fn.typer = function (text, options) {
    options = $.extend({}, {
        delay: 1000,
        duration: 5000,
        easing: 'linear',
        endless: false
    }, options);
    var elem = $(this);
    (function loop(i) {
        var e = typeof text === 'string' ? text : text[i];
        // strip html tags, might be helpful
        // e.replace(/(<.*?>)/ig,"")
        $({len: 0}).delay(options.delay).animate({len: e.length}, {
            duration: options.duration,
            easing: options.easing,
            step: function (now) {
                var pos = Math.ceil(now),
                    char = e.substr(pos, 0);
                elem.html(e.substr(0, pos));
            },
            complete: function () {
                i++;
                if (i === text.length && !options.endless) {
                    return;
                } else if (i === text.length) {
                    i = 0;
                }
                loop(i);
            }
        });
    })(0);
};

$('#bannerText').typer(['<i>Nicest</i> <u>Ever Table</u> <b>Portal Web Site</>!']);
setInterval(function(){ $('#bannerText').typer(['<i>Nicest</i> <u>Ever Table</u> <b>Portal Web Site</>!']); }, 12000);

});
</script>
<!--Code snippet from: http://stackoverflow.com/questions/22122111/how-to-display-text-over-an-image-in-bootstrap-3-1-->
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="img/banner2.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           <h1 class='1banner_text'><span id='bannerText'></span></h1>
           </div>
        </div>
    </div>
</div>



</div>
<div class="navbar-static-top navbar-inverse " id="top" >
                <div class="container " style="min-height:50px">
<<<<<<< HEAD
                     <div class="navbar-brand cancel_left_padding">
                         <a href="/logged" 
                         style="color:white;font-weight:bold;font-size:25px">Home</a>
                     </div>
                     <button class="navbar-toggle cancel_button_move" data-toggle="collapse" data-target=".navheaderCollapse" style="color:white;border-color:white">
=======
                     <div class="navbar-brand " style="padding:15px 0px">
                         <a href="/logged" 
                         style="color:white;font-weight:bold;font-size:25px">Home</a>
                     </div>
                     <button class="navbar-toggle" data-toggle="collapse" data-target=".navheaderCollapse" style="color:white;border-color:white; margin-right:0px">
>>>>>>> b78560ea7cf521bf4d40e6eb4088d54c545ed62d
                     Menu
                     </button>

                                     <div class="collapse navbar-collapse navheaderCollapse">
                                     
                                        <ul class="nav navbar-nav navbar-right">
                                             <li><a href="javascript:layerChange('/game-list')" style="color:white; font-size:18px">Games</a></li>
                                             <li><a href="javascript:layerChange('/messages')" style="color:white;font-size:18px">Messages</a></li>
                                             <li><a href="javascript:layerChange('/rss')" style="color:white;font-size:18px">RSS Feed</a></li>
                                             <li><a href="/logout" style="color:white;font-size:18px">Logout</a></li>
                        
                                        </ul>
                                     </div>
                
                </div>
            
</div>
<br/>
<div class="container">

				<div class="col-md-2">
				    <div class=' main_window'>
<h3>COL MD2</h3>
<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>

	</div>
    
    </div>
    
	<div id='mainGame'class="col-md-7">
	    
 <div class=' main_window'>

	    <div class="loading"></div>

<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<!--AJAX LOADING ICON-->

	</div>
	</div>

				<!-- otherWindow -->
		<div id='mainProfile' class="col-md-7">
		     <div class=' main_window'>
		    <div class="loading"></div>
<h3>Welcome!</h3>
<img src="img/play.jpg"style='width:30%; float:right' class=" img-circle img-responsive" alt="Circular holding image"/>
<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<!--AJAX LOADING ICON-->

	</div>
</div>
<div class="col-md-3 clear right">
    
 <div class=' main_window'>
<h3>Chat here</h3>
<div class='chat_message'>
	<div class="toolTip_chat">
    <p>This is test dummy text and can consist of anything here
    This is test dummy text and can consist of anything here
    This is test dummy text and can consist of anything here</p>
    <div class="tailShadow"></div>
    <div class="tail1"></div>
    <div class="tail2"></div>
</div>
<p class='name'>Stranger@inbox.lv</p>
</div>



<br/>



<div class='chat_message'>
	<div class="toolTip_chat">
    <p>This is test dummy text and can consist of anything here</p>
    <div class="tailShadow"></div>
    <div class="tail1"></div>
    <div class="tail2"></div>
</div>
<p class='name'>denmantm@inbox.lv</p>
</div>




<br/>



<div class='chat_message'>
	<div class="toolTip_chat">
    <p>This is test dummy text and can consist of anything here</p>
    <div class="tailShadow"></div>
    <div class="tail1"></div>
    <div class="tail2"></div>
</div>
<p class='name'>denmantm@inbox.lv</p>
</div>
<br/>

<!--<div class="inner-addon left-addon">-->
<!--          <input type="text" class="form-control" placeholder="Chat Message Here"/>-->
<!--</div>-->

<div class='down_side_window'>
    
	<div class="input-group small_chat_input">
      <input id='chatMessage' type="text" class="form-control" placeholder="Your Message Here">
      <span class="input-group-btn">
        <button onclick='sendMessage()' class="btn btn-default" type="button">Send</button>
      </span>
    </div>
    
</div>




</div>

</div>
 
	<div class="col-md-3 clear right">
	     <div class=' main_window'>
<h3>Thats for CHAT</h3>
<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>

	</div>
        </div>
	</div>
    <footer class="text-center">
	NCI Team 2015 &copy;
<br/>
</footer>

