          <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="css/bootstrap.min.css"/>
           <link rel="stylesheet" href="css/style-arezki.css"/>
           
           
           <link href="style.css" rel="stylesheet" type="text/css" />
            <link href="style_mod.css" rel="stylesheet" type="text/css"/>
            <link href="style-maurice.css" rel = "stylesheet" type="tet/css"/>
            
            <script src="jquery-1.11.3.js"></script>
            <script src="js/bootstrap.js"></script>
            
            <!--Scripts For Card Game-->
    <link href="card_game1/style_cards.css" rel="stylesheet"/>
    <script src="card_game1/display.js"></script>
    <script src="js/main_comboscript.js"></script>
    <script src="js/running_text.js"></script>

     	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--HANDLING CHAT HERE-->
<script>
//converting value to string
var user = <%- JSON.stringify(user.local.email) %>;
console.log(user);
</script>
<script src="js/sockets_chat.js"></script>
<script>
	$( document ).ready(function() {
	    simpleAjax('/score','last_games_played');
	    //if someone would play game, score would refresh
	   $("#refresh_icons").click(function(){
	       simpleAjax('/score','last_games_played');
	   });
	      
	   
	    
	});

</script>



<!--Code snippet from: http://stackoverflow.com/questions/22122111/how-to-display-text-over-an-image-in-bootstrap-3-1-->
<div onload="checkConnections()" id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="img/banner2.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           <h1 class='1banner_text'><span id='bannerText'></span></h1>
           </div>
        </div>
    </div>
</div>

</div>
<div class="navbar-static-top navbar-inverse " id="top" >
                <div class="container " style="min-height:50px">

                     <div  class="navbar-brand cancel_left_padding">
                         <a class ="shake2" href="/logged" 
                         style="color:white;font-weight:bold;font-size:25px;  text-decoration:none;">Home</a>
                     </div>
                
                       
                     <button  id="shake1"  class="navbar-toggle cancel_button_move" data-toggle="collapse"
                     data-target=".navheaderCollapse" style="color:white;border-color:white; margin-right:0px">Menu
                     </button>
                                     <div class="collapse navbar-collapse navheaderCollapse">
                                     
                                        <ul class="nav navbar-nav navbar-right">
                                             <li><a class ="shake2" href="javascript:layerChange('/game-list')" style="color:white; font-size:18px">Games</a></li>
                                             <li><a class ="shake2" href="javascript:layerChange('/messages')" style="color:white;font-size:18px">Messages</a></li>
                                             <li><a class ="shake2" href="javascript:layerChange('/rss')" style="color:white;font-size:18px">High Scores</a></li>
                                             <li><a class ="shake2" href="javascript:layerChange('/rssDisplay')" style="color:white;font-size:18px">RSS</a></li>
                                             <li><a class ="shake2" href="/logout" style="color:white;font-size:18px">Logout</a></li>
                        
                                        </ul>
                                     </div>
                </div>
</div>
<br/>
<div class="container">

				<div class="col-md-2">
				    <div class=' main_window'>
<h4>10 Last Games <span id='refresh_icons' class="glyphicon glyphicon-refresh"></span></h4>

<hr/>
<div id='last_games_played'>
<p>deniss@deniss.den</p>
<p>Game1 SCORE 1:0</p>

<p>qdeniss@deniss.den</p>
<p>Game1 SCORE 1:0</p>

<p>d2eniss@deniss.den</p>
<p>Game1 SCORE 1:0</p>
    
</div>


	</div>
    
    </div>
    
	<div id='mainGame'class="col-md-7">
	    
 <div class=' main_window'>

	    <div class="loading"></div>

<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<!--AJAX LOADING ICON-->

	</div>
	</div>

				<!-- mian window  -->
				
				
                                	
            	<div id='mainProfile' class="col-md-7 text-center">
                                		    
                                		    
                    <div class='main_window'>
                                		         
                                		         
                       <div class="loading"></div>
                                		    
                                		    
                             
                                
                                       
                                       
                                       
                                       <h2 style=" font-weight: bold">  Wecome to our Game Portal!!!!</h2>
                                       
                                     
                                      <div class="col-sm-12">
                        				 
                        				   <hr/>
                                       <br/>
                                       <br/>
                        				 
                        				<img src="img/main.jpg" class=" img-circle img-responsive" alt="Circular holding image"/>	    
                        					    			   		
                                                            
                        					     
                        			    </div>
                                                       
                                                    
                                        
                                        
                                         
                                     
                                    
                	</div>
                	
                 </div>


                                 <!-- finish the main window-->



<div class="col-md-3 clear right">
    
 <div class=' main_window'>
     <h4 class='text-center'>Chat</h4>
     <hr/>
     <div id="chat_small" style="height: 350px; overflow-y: scroll;"> 
     
     <div class='chat_message'>
	<div class="toolTip_chat">
    <p>Hello! Welcome to the coolest ewer table game portal! 
    We hope you will enyoy your tay here!</p>
    <div class="tailShadow"></div>
    <div class="tail1"></div>
    <div class="tail2"></div>
</div>
<p class='chat_name'>TableGamePortalBOT@tgame.ru</p>
</div>
     
     
     </div>
<!--<br/>-->



<!--<div class='chat_message'>-->
<!--	<div class="toolTip_chat">-->
<!--    <p>This is test dummy text and can consist of anything here</p>-->
<!--    <div class="tailShadow"></div>-->
<!--    <div class="tail1"></div>-->
<!--    <div class="tail2"></div>-->
<!--</div>-->
<!--<p class='name'>denmantm@inbox.lv</p>-->
<!--</div>-->




<!--<br/>-->



<!--<div class='chat_message'>-->
<!--	<div class="toolTip_chat">-->
<!--    <p>This is test dummy text and can consist of anything here</p>-->
<!--    <div class="tailShadow"></div>-->
<!--    <div class="tail1"></div>-->
<!--    <div class="tail2"></div>-->
<!--</div>-->
<!--<p class='name'>denmantm@inbox.lv</p>-->
<!--</div>-->
<br/>

<!--<div class="inner-addon left-addon">-->
<!--          <input type="text" class="form-control" placeholder="Chat Message Here"/>-->
<!--</div>-->

<div class='down_side_window'>
    
	<div class="input-group small_chat_input">
      <input id='chatMessage' type="text" class="form-control" placeholder="Your Message Here">
      <span class="input-group-btn">
        <button onclick='sendMessage()' class="btn btn-default" type="button">Send</button>
      </span>
    </div>
    
</div>




</div>

</div>
 
	<div class="col-md-3 clear right">
	     <div class=' main_window'>
<h4 class='text-center'>User List here</h4>
<hr/>


		<div id="user_list_small" style="height: 160px; overflow-y: scroll;">
		</div>

	</div>
        </div>
	</div>
    <footer class="text-center">
	NCI Team 2015 &copy;
<br/>
</footer>

