
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="css/bootstrap.min.css"/>
           <link rel="stylesheet" href="css/style-arezki.css"/>
           
           
           <link href="style.css" rel="stylesheet" type="text/css" />
            <link href="style_mod.css" rel="stylesheet" type="text/css"/>
            <link href="style-maurice.css" rel = "stylesheet" type="tet/css"/>
            
            <script src="jquery-1.11.3.js"></script>
            <script src="js/bootstrap.js"></script>
            
            <!--Scripts For Card Game-->
    <link href="card_game1/style_cards.css" rel="stylesheet" />
    <script src="card_game1/display.js"></script>
     	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
     	
     	<!-- Script for Shaking the Button THIS IS TAKEN FROM Stackowerflow.com-->
                                <script type="text/javascript">
                                jQuery.fn.shake = function(intShakes, intDistance, intDuration) {
                                    intShakes = intShakes || 2;
                                    intDistance = intDistance || 3;
                                    intDuration = intDuration || 200;

                                    this.each(function() {
                                        $(this).css("position","relative"); 
                                        for (var x=1; x<=intShakes; x++) {
                                        $(this).animate({left:(intDistance*-1)}, (((intDuration/intShakes)/4)))
                                    .animate({left:intDistance}, ((intDuration/intShakes)/2))
                                    .animate({left:0}, (((intDuration/intShakes)/4)));
                                    }
                                  });
                                return this;
                                };

                                                       	$( document ).ready(function() {
                                                                   	
                 $("#shake1").hover(function(){
                     $(this).shake();
                      $(this).css('background-color', 'red')
                  }, function() {
                      $(this).css('background-color', '')
                       });
                                            	
                 $(".shake2").hover(function(){

                     $(this).shake();
                      $("#shake2").css('background-color', 'red !important')
                  }, function() {
                      $("#shake2").css('background-color', '')

                       });
                      });
                                </script>
                                                                      
<script>
//changeLayers
var helper = 'second';
var layerChange =function(url){
    //login_form, singup_form
    if(helper == 'second'){
    	    $.ajax({url: url,
    	    beforeSend: function() {
    	        $("#mainGame").html('<h1>LOADING</h1>');
        },
    	    success: function(result){
        $("#mainGame").html(result);
   		 }});


      $("#mainProfile").slideToggle("slow");
      setTimeout(function(){
      $("#mainGame").slideToggle("slow");
      }, 1000);
      helper = 'first';
    }
    else{


    	$.ajax({url: url, success: function(result){
        $("#mainProfile").html(result);
    	}});
      $("#mainGame").slideToggle("slow");
      setTimeout(function(){
      $("#mainProfile").slideToggle("slow");
      }, 1000);
      helper = 'second';
    }
    
};
//fill necesarry fields in the app::
function simpleAjax(url,div){
        	    $.ajax({url: url,
        	        	    beforeSend: function() {
    	        $("#"+div).html('<h1>LOADING</h1>');
        },
        	    success: function(result){
        $("#"+div).html(result);
   		 }});
};
</script>
<script>
//RUNNING TEXT SCRIPT
//Code snippet from: http://jsfiddle.net/ARTsinn/RED9H/2/
$( document ).ready(function() {
$.fn.typer = function (text, options) {
    options = $.extend({}, {
        delay: 1000,
        duration: 10000,
        easing: 'linear',
        endless: false
    }, options);
    var elem = $(this);
    (function loop(i) {
        var e = typeof text === 'string' ? text : text[i];
        // strip html tags, might be helpful
        // e.replace(/(<.*?>)/ig,"")
        $({len: 0}).delay(options.delay).animate({len: e.length}, {
            duration: options.duration,
            easing: options.easing,
            step: function (now) {
                var pos = Math.ceil(now),
                    char = e.substr(pos, 0);
                elem.html(e.substr(0, pos));
            },
            complete: function () {
                i++;
                if (i === text.length && !options.endless) {
                    return;
                } else if (i === text.length) {
                    i = 0;
                }
                loop(i);
            }
        });
    })(0);
};
$('#bannerText').typer(['<h2 style="color:red; font-weight:bold">Nicest</h2> <u style="color:white">Ever Table</u> <p style="color:yellow;font-weight:bold" >Portal Web Site</p>']);
setInterval(function(){ $('#bannerText').typer(['<h2 style="color:red; font-weight:bold">Nicest</h2> <u style="color:white">Ever Table</u> <p style="color:yellow;font-weight:bold" >Portal Web Site</p>']); }, 25000);
});
</script>
<!--HANDLING CHAT HERE-->
<script>
var socket = io.connect('/');

//converting value to string
var user = <%- JSON.stringify(user.local.email) %>;
console.log(user);

//on connect informs
socket.on("connect",function(){
	console.log('connected');
	socket.emit('add-user', user);
	checkConnections();
});

//listens for disconnection
socket.on("disconnect",function(){
	console.log('disconnected');
});

socket.on('clientList',function(userList){
	console.log(userList);
var keys = Object.keys(userList);
	console.log(keys);
})

var checkConnections = function(){
	socket.emit('user-list');
}

socket.on('update-list',function(list){
	//transfering object into list of users


console.log('working');
var keys = Object.keys(list);
    	var div = document.createElement("div");
    	var element = document.getElementById("user_list_small");
    	element.innerHTML = '';
    	for(var i = 0; i <keys.length;i++){
    		
var para = document.createElement("h4");
var node = document.createTextNode(keys[i]);
para.appendChild(node);
div.appendChild(para);

    	}
element.appendChild(div);

});

socket.on("disconnect",function(){
	console.log('disconnected');
});


//~~~~~~~~~~~~~~~~~~~For Chat~~~~~~~~~~~~~#

var sendMessage = function(){
//assemble JSON to send
var chatmsg = {};
chatmsg.user = user;
chatmsg.message = document.getElementById('chatMessage').value;
socket.emit('messageToAll', chatmsg);
document.getElementById('chatMessage').value = '';
};

socket.on('chatIncomingMessage',function(msg){
    console.log('incoming message');
	addMessage(msg);
});

//variable for different color messages
var state;
				


				//if we would get the message, fire this one

				
var addMessage = function(messageObject){

	//var elementt = document.getElementById("chat_small");


	var div = document.createElement("div");
	div.className = 'chat_message';
	
	
	var div1 = document.createElement("div");
	div1.className = 'toolTip_chat';
	div.appendChild(div1);
	
	var par1 = document.createElement("p");
    var messageText = document.createTextNode(messageObject.message);
    par1.appendChild(messageText);
    div1.appendChild(par1);
	
	var div2 = document.createElement("div");
	div2.className = 'tailShadow';
	div1.appendChild(div2);
	
	
	var div3 = document.createElement("div");
	div3.className = 'tail1';
	div1.appendChild(div3);
	
	var div4 = document.createElement("div");
	div4.className = 'tail2';
	div1.appendChild(div4);
	
	
	
	var userText = document.createTextNode(messageObject.user);
	var par2 = document.createElement("p");
	par2.className = 'chat_name';
    par2.appendChild(userText);
    div.appendChild(par2);
    
    
    var br = document.createElement("br");
     div.appendChild(br);

		$("#chat_small").prepend(div);
	
// 	message.appendChild(messageText);



// 	var user = document.createElement("h6");
// 	var message = document.createElement("h6");

// 	var userText = document.createTextNode(messageObject.user + ':');
// 	var messageText = document.createTextNode(messageObject.message);


// 	user.appendChild(userText);
// 	message.appendChild(messageText);

// 	user.className = 'userName';
// 	message.className = 'chatMessage';

// 	div.appendChild(user);
// 	div.appendChild(message);

// 	if(state){
// 	div.className = 'chatMessage1';
// 	state = false;
// 	}
// 	else{
// 	div.className = 'chatMessage2';
// 	state = true;
// 	}


	//elementt.prependChild(div);
};


</script>

<!--Code snippet from: http://stackoverflow.com/questions/22122111/how-to-display-text-over-an-image-in-bootstrap-3-1-->
<div onload="checkConnections()" id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="img/banner2.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           <h1 class='1banner_text'><span id='bannerText'></span></h1>
           </div>
        </div>
    </div>
</div>



</div>
<div class="navbar-static-top navbar-inverse " id="top" >
                <div class="container " style="min-height:50px">

                     <div  class="navbar-brand cancel_left_padding">
                         <a class ="shake2" href="/logged" 
                         style="color:white;font-weight:bold;font-size:25px;  text-decoration:none;">Home</a>
                     </div>
                
                       
                     <button  id="shake1"  class="navbar-toggle cancel_button_move" data-toggle="collapse"
                     data-target=".navheaderCollapse" style="color:white;border-color:white; margin-right:0px">Menu
                     </button>
                 

                                     <div class="collapse navbar-collapse navheaderCollapse">
                                     
                                        <ul class="nav navbar-nav navbar-right">
                                             <li><a class ="shake2" href="javascript:layerChange('/game-list')" style="color:white; font-size:18px">Games</a></li>
                                             <li><a class ="shake2" href="javascript:layerChange('/sendMessage')" style="color:white;font-size:18px">Messages</a></li>
                                             <li><a class ="shake2" href="javascript:layerChange('/rss')" style="color:white;font-size:18px">RSS Feed</a></li>
                                             <li><a class ="shake2" href="/logout" style="color:white;font-size:18px">Logout</a></li>
                        
                                        </ul>
                                     </div>
                
                </div>
            
</div>
<br/>
<div class="container">

				<div class="col-md-2">
				    <div class=' main_window'>
<h3>COL MD2</h3>
<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>

	</div>
    
    </div>
    
	<div id='mainGame'class="col-md-7">
	    
 <div class=' main_window'>

	    <div class="loading"></div>

<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<!--AJAX LOADING ICON-->

	</div>
	</div>

				<!-- otherWindow -->
		<div id='mainProfile' class="col-md-7">
		     <div class='main_window'>
		    <div class="loading"></div>
<h3 >Welcome!</h3>
<img src="img/play.jpg"style='width:30%; float:right' class=" img-circle img-responsive" alt="Circular holding image"/>
<p>It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout. The point of using Lorem Ipsum is that it
has a more-or-less normal distribution of letters, as opposed to using 'Content here,
content here', making it look like readable English. Many desktop publishing packages
and web page editors now use Lorem Ipsum as their default model text, and a search for 
'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<!--AJAX LOADING ICON-->

	</div>
</div>
<div class="col-md-3 clear right">
    
 <div class=' main_window'>
     
     <div id="chat_small" style="height: 300px; overflow-y: scroll;"> 
     
     <div class='chat_message'>
	<div class="toolTip_chat">
    <p>Hello! Welcome to the coolest ewer table game portal! 
    We hope you will enyoy your tay here!</p>
    <div class="tailShadow"></div>
    <div class="tail1"></div>
    <div class="tail2"></div>
</div>
<p class='chat_name'>TableGamePortalBOT@tgame.ru</p>
</div>
     
     
     </div>
<!--<br/>-->



<!--<div class='chat_message'>-->
<!--	<div class="toolTip_chat">-->
<!--    <p>This is test dummy text and can consist of anything here</p>-->
<!--    <div class="tailShadow"></div>-->
<!--    <div class="tail1"></div>-->
<!--    <div class="tail2"></div>-->
<!--</div>-->
<!--<p class='name'>denmantm@inbox.lv</p>-->
<!--</div>-->




<!--<br/>-->



<!--<div class='chat_message'>-->
<!--	<div class="toolTip_chat">-->
<!--    <p>This is test dummy text and can consist of anything here</p>-->
<!--    <div class="tailShadow"></div>-->
<!--    <div class="tail1"></div>-->
<!--    <div class="tail2"></div>-->
<!--</div>-->
<!--<p class='name'>denmantm@inbox.lv</p>-->
<!--</div>-->
<br/>

<!--<div class="inner-addon left-addon">-->
<!--          <input type="text" class="form-control" placeholder="Chat Message Here"/>-->
<!--</div>-->

<div class='down_side_window'>
    
	<div class="input-group small_chat_input">
      <input id='chatMessage' type="text" class="form-control" placeholder="Your Message Here">
      <span class="input-group-btn">
        <button onclick='sendMessage()' class="btn btn-default" type="button">Send</button>
      </span>
    </div>
    
</div>




</div>

</div>
 
	<div class="col-md-3 clear right">
	     <div class=' main_window'>
<h3>User List here</h3>


		<div id="user_list_small" style="height: 120px; overflow-y: scroll;">
		</div>

	</div>
        </div>
	</div>
    <footer class="text-center">
	NCI Team 2015 &copy;
<br/>
</footer>

