<!-- //login code was referenced from
//https://scotch.io/tutorials/easy-node-authentication-setup-and-local -->
<DOCTYPE html>
<html>

 <head>
           <title> Game</title>
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="css/bootstrap.min.css"/>
           <link rel="stylesheet" href="css/style-arezki.css"/>
           
           
           <link href="style.css" rel="stylesheet" type="text/css" />
            <link href="style_mod.css" rel="stylesheet" type="text/css" />
           
           
</head>

<body>

<div class="navbar-static-top navbar-inverse " id="top" >
                <div class="container " style="min-height:70px">
                     <div class="navbar-brand ">
                         <a href="http://www.google.com" 
                         style="color:white;font-weight:bold;font-size:25px">Home</a>
                     </div>
                     
                     
                     <button class="navbar-toggle" data-toggle="collapse" data-target=".navheaderCollapse" style="color:white;border-color:white">
                     
                     Menu
                     </button>
                     
                                     <div class="collapse navbar-collapse navheaderCollapse">
                                     
                                        <ul class="nav navbar-nav navbar-right">
                                        
                                             <li><a href="#" style="color:white; font-size:18px">Games</a></li>
                                             <li><a href="#" style="color:white;font-size:18px">Chat</a></li>
                                             <li><a href="#portfolio" style="color:white;font-size:18px">Messages</a></li>
                                             <li><a href="/rss" style="color:white;font-size:18px">RSS Feed</a></li>
                                             <li><a href="/logout" style="color:white;font-size:18px">Logout</a></li>
                                        
                                        
                                        </ul>
                                         
                                     </div>
                
                </div>
            
</div>
<br/>



<div class="container">
					<!-- Side NavBar Starting -->
				<div class="col-md-2">
<h3>COL MD2</h3>
	</div>
					<!-- Side NavBar Finishing -->
					<!-- main info -->
	<div id='mainGame'class="col-md-7">
<h3>22MAIN PAGE HERE22</h3>
<p>adsdashsaduihdwuighdwaiuawdigdawiugdwaiudwag
waduigdiu gdawuig uiwagdiu dawgiu wdgwaui gawdu igawd iugd waiugawd iudw ag</p>
	</div>

				<!-- otherWindow -->
		<div id='mainProfile' class="col-md-7">
<h3>11MAIN PAGE HERE11</h3>
<p>adsdash saduihdwuighdwa iuawdigdaw iugdwaiudwag
waduigdiu gdawuig uiwagdiu dawgiu wdgwaui gawdu igawd iugd waiugawd iudw ag</p>
	</div>

				<div class="col-md-3 clear right">

<h3>Thats for list</h3>
<p>adsdashsadui hdwuighdwaiuawdigd awiugdwaiudwag
waduigdiu gdawuig uiwagdiu dawgiu wdgwaui gawdu igawd iugd waiugawd iudw ag</p>

</div>

	<div class="col-md-3 clear right">
<h3>Thats for CHAT</h3>
<p>adsdashsaduihdwuighdwaiuawdigdawiugdwaiudwag
waduigdiu gdawuig uiwagdiu dawgiu wdgwaui gawdu igawd iugd waiugawd iudw ag</p>

	</div>

	</div>




    <footer class="text-center">
	NCI Team 2015 &copy;
<br/>
</footer>

    

            
          
             
 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="js/bootstrap.js"></script>
</body>

</html>
