	<div id = "feed" class = "span2">
	<?xml version="1.0" encoding="UTF-8"?>
	<?xml-stylesheet type="text/xsl" href="/rss/highScore.xsl"?>
	<rss version = "2.0">

		<channel>
			<title>High Scores</title>
			<description>High Scores</description>
			<link></link>
			<item>
				<name>John Doe</name>
				<email>john@doe.email</email>
				<game>Tic Tac Toe</game>
				<hiScore>200</hiScore>
			</item>
			<item>
				<name>Mary White</name>
				<email>mary@white.email</email>
				<game>Tic Tac Toe</game>
				<hiScore>150</hiScore>
			</item>
			<item>
				<name>Sarah Black</name>
				<email>sarah@black.email</email>
				<game>Tic Tac Toe</game>
				<hiScore>185</hiScore>
			</item>
			<item>
				<name>Martin Byrne</name>
				<email>martin@byrne.email</email>
				<game>Tic Tac Toe</game>
				<hiScore>220</hiScore>
			</item>
		</channel>
	</rss>
	</div>