	<div id = "feed" class = "span2">
	<?xml version="1.0" encoding="UTF-8"?>
	<rss version = "2.0">

		<channel>
			<title>20 of the most popular table games</title>
			<description>A list of the most popular Table Games</description>
			<link></link>

			<item>
				<title>List Challenges.com</title>
				<description>92 best board games of all time</description>
				<link>http://www.listchallenges.com/92-best-board-games-of-all-time</link>
			</item>

			<item>
				<title>Beaumont Enterprises</title>
				<description>Top 20 most popular board games</description>
				<link>http://www.beaumontenterprise.com/photos/article/Top-20-most-popular-board-games-901648.php</link>
			</item>
			
			<item>
				<title>Beaumont Enterprises</title>
				<description>Top 20 most popular board games</description>
				<link>http://www.beaumontenterprise.com/photos/article/Top-20-most-popular-board-games-901648.php</link>
			</item>

			<item>
				<title>Beaumont Enterprises</title>
				<description>Top 20 most popular board games</description>
				<link>http://www.beaumontenterprise.com/photos/article/Top-20-most-popular-board-games-901648.php</link>
			</item>

			<item>
				<title>Beaumont Enterprises</title>
				<description>Top 20 most popular board games</description>
				<link>http://www.beaumontenterprise.com/photos/article/Top-20-most-popular-board-games-901648.php</link>
			</item>
		</channel>
	</rss>
	</div>