<div class='main_window'>
    <h1>Currently avalable Games</h1>
    <h2>Link to raw RSS XML</h2>
    <a style='color:white;'href='https://table-game-portal-denamntm.c9users.io/getrss'>https://table-game-portal-denamntm.c9users.io/getrss</a>
</div>