<div class='main_window'>
    <h1>Link to the rss feed:</h1>
    <h2>This is list of currently avalable games</h2>
    <a style='color:white;'href='https://table-game-portal-denamntm.c9users.io/getrss'>https://table-game-portal-denamntm.c9users.io/getrss</a>
</div>