
<style>
.border{
padding:50px;
margin-top:10px;
background-image:url('img/messages-background.jpg');
}
#h1{
    text-align:center;
    color:white;
    font-weight:bold
}
</style>


<div class='border'>
    
    <h1 id="h1">New Message</h1>
    
    <h3 style="color:white;font-weight:bold">To User: <h3>
        
        <input class="form-control" style='color:black;' id='to_user' type="text" name="fname">
    <h3 style="color:white;font-weight:bold">Message:</h3>
    
    <textarea style='color:black;' class="form-control" id='message_text' rows="6" cols="50"></textarea>
    <br/>
      <button style="font-weight:bold"id='send_message'type="button" class="btn btn-primary center-block">send</button>

</div>

<script>
$( "#send_message" ).click(function() {

var message_text = document.getElementById('message_text').value,
         to_user = document.getElementById('to_user').value;
                   document.getElementById('to_user').value = '';
                   document.getElementById('message_text').value = '';

var messageObj =
{ message:message_text,
user:to_user};

if (user ===to_user){
    alert('Sorry, but you cant send message to yourself');
    return;
} 

        $.post("/sendMessageToUser",
        {
          message: messageObj
        },
        function(data,status){ 
            if(data == 'noFile'){
            alert('User doesnt exist yet, please chose other user');
          }
          if(data== 'success'){
              alert('Success, message sent!');
          }

        });

});
</script>