
<html>

<head>


<link rel="stylesheet" type="text/css" href="css/styles.css"><!-- main styles for page -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<script>
$(document).ready(function() {

//get all link with class panel
$('h1').click(function () {

            //reset and highlight the clicked link
    $('h1').removeClass('h1');
    $(this).addClass('h2');

    //grab the current item, to be used in resize function
    current = $(this);

            //scroll it to the destination
    $('#wrapper').scrollTo($(this).attr('href'), 800);      

            //cancel the link default behavior
    return false;
});


//resize all the items according to the new browser size
$(window).resize(function () {

    //call the resizePanel function
    resizePanel();
});
});
<script src="jquery-1.11.3.js" type="text/javascript"></script>


</script>

</head>

<body>

<div id='wrapper'> 
  <div id='content'>
    <h1>hello !!!</h1>
    <h2>heloskms</h2>
    <h3>jijdisdd</h3>
  </div>
</div>
</body>

</html>