.main_window{
	 background-image: url("img/seamless-dark-texture-with-small-grid.jpg");
    background-color: #50686A;
    border-radius:10px;
    border:2px solid #50686A;
    color:snow;
    margin-bottom:10px;
    
    -webkit-box-shadow: 17px 13px 34px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 13px 34px -2px rgba(0,0,0,0.75);
box-shadow: 17px 13px 34px -2px rgba(0,0,0,0.75);
}
.custom_block{
	width:88%;
	border:1px solid black;
	margin-top:15px;
}
.custom_list{
	margin-left:0px;
	padding-left:0px;
	margin-right:0px;
}
.centerp{
	width:95%;
	padding:8px;
	border:1px solid black;
	margin-bottom:20px;
	background-color:#FAFAFA;
		border-radius:15px;
}
.clear{
	clear:right;
}

/*THIS ALL GOES TOWARDS AJAX ROTATING ICON*/
 body { border:0px;background-image:url('img/background_linen.png') }/*main body background*/
 .banner_text{
 	color:white;
   margin-top: 20%; 
   margin-left:5%;
   width: 100%;
 }
#image_banner{

}
.cancel_left_padding{
	padding: 15px 0px !important;
}
.cancel_button_move{
	    margin-left: -12px !important;
}
/*SECTION STARTS FOR THE CHAT HERE*/
.toolTip_chat {
    position:relative !important;
}
.toolTip_chat p {
  color:black ;
  font-size:13px;
    padding:4px;
    background-color:#f9f9f9;
    border:solid 1px #a0c7ff;
    -moz-border-radius:5px;-ie-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
}

.tailShadow {
    position:absolute;
    bottom:-8px;
    left:48px;
    width:0;height:0;
    border:solid 2px #fff;
    box-shadow:0 0 10px 1px #555;
}

.tail1 {
    position:absolute!important;
    bottom:-20px!important;
    left:40px!important;
    width:0;height:0;
    border-color:#a0c7ff transparent transparent transparent;
    border-width:10px!important;
    border-style:solid!important;
}

.tail2 {
    position:absolute!important;
    bottom:-18px!important;
    left:40px!important;
    width:0;height:0;
    border-color:#f9f9f9 transparent transparent transparent;
    border-width:10px;
    border-style:solid!important;
}

.chat_name {
  color:black;
  font-size:11px !important;
  float:left;
      margin-top: -6px!important;
    margin-left: 25px;
    padding:2px !important;
    background-color:#f9f9f9;
    border:solid 1px #a0c7ff;
    -moz-border-radius:5px;-ie-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
}
.main_window{
    padding-left:5px;
     padding-right:5px;
}

/*WINDOW UP AND DOWN SIDE*/
.down_side_window{
	background-color:#50686A;
}

.chat_small{
    background-color:#FAFAFA;
    scrollbar-face-color: #fafafa;
}